
<form #EditToDoForm="ngForm" (submit)="onEditToDo(EditToDoForm)"
class="m-2">

    <div class="input-group mb-3">
        <!-- <div class="input-group-prepend">
  
          
        </div> -->
  
        <mat-card>

          <mat-form-field>
            <input 
            type="text"
            name="editInput"  
            matInput
            [ngModel]="todo?.title"
            placeholder="Edit ToDo Here..."
            ngModel>
          </mat-form-field>
  
        </mat-card>
        <div>
      </div>
      </div>

      <mat-list>
        <mat-list-item> {{todo?.project}} </mat-list-item>
    </mat-list>

    <mat-form-field class="example-full-width">
      <textarea 
      matInput
      type="text"
      name="editNotes" 
      [ngModel]="todo?.notes"
      matTextareaAutosize 
      matAutosizeMinRows=3 
      matAutosizeMaxRows=5
      placeholder="Notes:"></textarea>
    </mat-form-field>

    <button mat-raised-button
          class="btn btn-outline-secondary" 
          type="submit" 
          id="addToDo">Update</button>

  </form>
