<nav class="lists-scroll">
    <!-- <div class="my-2"> -->
        <div class="mt-2">
          <button mat-raised-button routerLink="/twoWeek" >2 Week</button>
        </div>
    
        <div class="my-2">
          <button mat-raised-button routerLink="/month" >Monthly</button>
        </div>
  
        <div class="mb-2">
          <button mat-raised-button routerLink="/qtr" >QTR</button>
        </div>
        <mat-divider></mat-divider>
    <!-- </div> -->
    
    <mat-nav-list>
        <a mat-list-item routerLink="/"> TD </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/projects"> P </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/goals"> 1 - 2 </a>
        <a mat-list-item routerLink="/vision"> 3 - 5 </a>
        <a mat-list-item routerLink="/purpose"> P&P </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/reference"> Reference </a>
     </mat-nav-list>